.blue {
  background-color: #f6c9c8 !important;
}

.brown {
  background-color: #54b0af !important;
  color: #eee8dc !important;
  font-size: 1.7em !important;
  font-family: "Verdana", Times, serif !important;
}
